swagger: "2.0"
info:
  title: ViaCep
  description: Esta API realiza a pesquisa do endereço pelo CEP informado.
  version: 1.0.0
host: "viacep.com.br"
schemes:
  - "https"
paths:
  /ws/{cep}/json/:
    get:
      tags:
        - ViaCep
      summary: Pesquise endereço pelo CEP
      description: Pesquise endereço pelo CEP
      operationId: getEnderecoByCep
      produces:
        - "application/json"
      parameters:
        - name: cep
          in: path
          description: Cep
          required: true
          type: "string"
      responses:
        200:
          description: success
          schema:
            $ref: "#/definitions/EnderecoResponse"
        400:
          description: Bad Request. A requisição não pode ser entendida pelo servidor devido a sintaxe mal formada.
          schema:
            $ref: "#/definitions/BadRequestError"
        401:
          description: Unauthorized. Requisição requer autenticação do parceiro comercial.
          schema:
            $ref: "#/definitions/UnauthorizedError"
        403:
          description: Forbidden. Servidor recusou a aceitar a requisição.
          schema:
            $ref: "#/definitions/ForbiddenError"
        404:
          description: Not Found. O servidor não encontrou o recurso solicitado.
          schema:
            $ref: "#/definitions/NotFoundError"
        500:
          description: Internal Server Error. Servidor se deparou com uma situação de falha inesperada.
          schema:
            $ref: "#/definitions/InternalServerError"

definitions:
  BadRequestError:
    type: object
    properties:
      error:
        type: string
        example: A requisição não pode ser entendida pelo servidor devido a sintaxe mal formada.
      success:
        type: boolean
        example: false
      statusCode:
        type: integer
        example: 400

  UnauthorizedError:
    type: object
    properties:
      error:
        type: string
        example: Acesso de parceiro não autorizado.
      success:
        type: boolean
        example: false
      statusCode:
        type: integer
        example: 401

  ForbiddenError:
    type: object
    properties:
      error:
        type: string
        example: Servidor recusou a aceitar a requisição.
      success:
        type: boolean
        example: false
      statusCode:
        type: integer
        example: 403

  NotFoundError:
    type: object
    properties:
      error:
        type: string
        example: O servidor não encontrou o recurso solicitado.
      success:
        type: boolean
        example: false
      statusCode:
        type: integer
        example: 404

  InternalServerError:
    type: object
    properties:
      error:
        type: string
        example: Servidor se deparou com uma situação de falha inesperada.
      success:
        type: boolean
        example: false
      statusCode:
        type: integer
        example: 500

  EnderecoResponse:
    type: object
    properties:
      cep:
        type: string
        description: CEP
        example: "58703-000"
      logradouro:
        type: string
        description: Logradouro
        example: "Rua do Prado"
      complemento:
        type: string
        description: Complemento
        example: "58703-000"
      unidade:
        type: string
        description: Unidade
        example: "58703-000"
      bairro:
        type: string
        description: Bairro
        example: "Liberdade"
      localidade:
        type: string
        description: Localidade
        example: "Patos"
      uf:
        type: string
        description: UF
        example: "PB"
      estado:
        type: string
        description: Estado
        example: "Paraíba"
      regiao:
        type: string
        description: Região
        example: "Nordeste"
      ibge:
        type: string
        description: IBGE
        example: "2510808"
      gia:
        type: string
        description: GIA
        example: ""
      ddd:
        type: string
        description: ddd
        example: "83"
      siafi:
        type: string
        description: SIAFI
        example: "2117"
